@import "tailwindcss";

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/MonaSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mona: "Mona Sans", sans-serif;

  --color-foreground: #050505;
  --color-background: #fdfdfd;
}

@layer base {
  body {
    font-family: "Mona Sans", sans-serif;
    font-weight: normal;
    background-color: var(--color-background);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 140%;
  }

  p {
    line-height: 140%;
  }
}

@layer utilities {
  .text-custom-3xl {
    font-size: 56px;
  }
  .text-custom-2xl {
    font-size: 48px;
  }
  .text-custom-xl {
    font-size: 40px;
  }
  .text-custom-lg {
    font-size: 32px;
  }
  .text-custom-md {
    font-size: 24px;
  }
  .text-custom-sm {
    font-size: 18px;
  }
  .text-custom-base {
    font-size: 16px;
  }
  .text-custom-xs {
    font-size: 12px;
  }
  .text-custom-2xs {
    font-size: 10px;
  }
}
