@import "tailwindcss";

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/MonaSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mona: "Mona Sans", sans-serif;

  --color-foreground: #050505;
  --color-background: #fdfdfd;

  --font-size-3xl: 3.5rem;
  --font-size-2xl: 3rem;
  --font-size-xl: 2.5rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1.125rem;
  --font-size-base: 1rem;
  --font-size-xs: 0.75rem;
  --font-size-2xs: 0.625rem;
}

@layer base {
  body {
    font-family: "Mona Sans", sans-serif;
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
}
